<div id="messagesPool"></div>
<form id="messageForm" style="margin-top: 1em">
    <input id="usernameInput" type="email" placeholder="Enter Email adress" />
    <input id="messageInput" type="text" placeholder="Message" />
    <input type="submit" value="Enviar" />
</form>